<footer>
    <div class="sticky bottom-0 bg-blue-900 text-white">
        <div class="container mx-auto px-6 py-12">
            <div class="text-left bg-white px-2 py-1 w-fit flex text-blue-500 rounded-md shadow my-2">
                <a href="/admin/login" class="text-blue-500 font-bold hover:underline">Admin Login</a>
            </div>

            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
                <div>
                    <div>
                        <h4 class="text-lg font-bold mb-2">About CS Department</h4>
                        <p>The CS Department at Ballarpur Institute of Technology offers advanced programs in computer science, focusing on
                            innovative research and practical application. Our experienced faculty prepare students for dynamic tech
                            careers, emphasizing hands-on learning and industry relevance.</p>
                    </div>
                </div>
                <div>
                    <h4 class="text-lg font-bold mb-2">Department Address</h4>
                    <p><b>KrushiJivanVikasPratishtan-Yenbodi,Reg.No F-294</b><br>
                        BALLARPUR INSTITUTE OF TECHNOLOGY, BALLARPUR-442701<br>
                        BTC-SCHOOL OF DIPLOMA IN ENGINEERING POLYTECHNIC(1543)<br>
                        <b>BUILDING NO. 3</b>
                    </p>
                </div>
                <div>
                    <h4 class="text-lg font-bold mb-2">Connect with Us</h4>
                    <div class="flex mt-3">
                        <a href="#" class="text-white mr-4">
                            <i class="fa fa-facebook-square fa-2x"></i>
                        </a>
                        <a href="#" class="text-white mr-4">
                            <i class="fa fa-twitter-square fa-2x"></i>
                        </a>
                        <a href="#" class="text-white mr-4">
                            <i class="fa fa-linkedin-square fa-2x"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="border-t border-gray-700 mt-8 pt-8 md:flex md:justify-between text-sm">
                <div>copyright@<%= new Date().getFullYear() %> Department of Computer Engineering.</div>
                <div>Privacy Policy | Terms of Use</div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>