<%- include('partials/header') %>

    <div id="banner" class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-6">
                    <div class="banner-title">
                        <h1 class="title">YOU THINK YOU CAN</h1>
                        <p class="lead">Learning is never done without Error, and Defeat.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container section">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-head">Some Heading Goes Here</h2>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="service-box">
                    <i class="fa fa-anchor"></i>
                    <h3>Program Outcomes</h3>
                    <p><b>PO1. Basic and Discipline specific knowledge:</b> Apply knowledge of basic mathematics,
                        science and engineering fundamentals and engineering specialization to solve the engineering
                        problems.</p>
                    <details>
                        <summary>Read More</summary>

                        <p><b>PO2. Problem Analysis:</b>Identify and analyze well-defined engineering problems using
                            codified standard methods.</p>
                        <p><b>PO3. Desing/development of solutions:</b> Design solutions for well-defined technical
                            problems and assist with the design of systems components or processes to meet specified
                            needs.</p>
                        <p><b>PO4. Engineering Tools, Experimentation and Testing:</b> Apply modern engineering tools
                            and appropriate technique to conduct standard tests and measurements.</p>
                        <p><b>PO5. Engineering practices for society, sustainability and environment:</b> Apply
                            appropriate technology in context of society sustainability,environment and ethical
                            practices.</p>
                        <p><b>PO6. Project Management:</b>Use engineering management principles individually, as a team
                            member or a leader to manage projects and effectively communication about well-defined
                            engineering activities .</p>
                        <p><b>PO7. Life-long learning:</b> Ability to analyze individual needs and engage in updating in
                            the context of technological changes.</p>
                    </details>
                    <!-- <a href="" class="readmore">Read More</a> -->
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="service-box">
                    <i class="fa fa-bar-chart"></i>
                    <h3>Program Educational Outcomes</h3>
                    <p><b>PEO1.</b> Provide socially responsible, environment friendly solutions to computer engineering
                        related broad-based problems adapting professional ethics.</p>
                    <details>
                        <summary>Read More</summary>
                        <p><b>PEO2.</b> Adapt state-of-the-art computer engineering broad-based technologies to work in
                            multidisciplinary work environments.</p>
                        <p><b>PEO3.</b> Solve broad-based problems individually and as a team member communicating
                            effectively in the world of work.</p>
                    </details>
                    <!-- <a href="" class="readmore">Read More</a> -->
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="service-box">
                    <i class="fa fa-diamond"></i>
                    <h3>Program Specific Outcomes</h3>
                    <p><b>PSO1. Computer Software and Hardware Usage</b>Use state-of-the-art technologies for operation
                        and application of computer software and hardware .</p>
                    <details>
                        <summary>Read More</summary>
                        <p><b>PSO2.Computer Enfineering Maintenance:</b>Maintain computer engineering related software
                            and hardware systems .</p>
                    </details>
                    <!-- <a href="" class="readmore">Read More</a> -->
                </div>
            </div>
        </div>
    </div>

    <div id="testimonials" class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="section-head text-white">Testimonials</h2>
                </div>
                <div class="col-md-3">
                    <div class="testimonial">

                        <img src="images/IMG1.jpg" alt="">
                        <div class="author">Prof. Aarti Vaidya</div>
                        <!-- <div class="author-company">Microsoft</div> -->
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="testimonial">

                        <img src="images/IMG2.jpg" alt="">
                        <div class="author">Prof. Priyanka V Mogre</div>
                        <!-- <div class="author-company">Apple</div> -->
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="testimonial">

                        <img src="images/IMG3.jpg" alt="">
                        <div class="author">Prof. Maheen Y Quazi</div>
                        <!-- <div class="author-company">Apple</div> -->
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="testimonial">

                        <img src="images/IMG4.jpg" alt="">
                        <div class="author">Prof. Snehal S Naghate</div>
                        <!-- <div class="author-company">Apple</div> -->
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="testimonial">

                        <img src="images/IMG5.jpg" alt="">
                        <div class="author">Prof. Prajakta V Shinde</div>
                        <!-- <div class="author-company">Apple</div> -->
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="testimonial">

                        <img src="images/IMG6.jpg" alt="">
                        <div class="author">Prof. sana M Sheikh</div>
                        <!-- <div class="author-company">Apple</div> -->
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="testimonial">

                        <img src="images/IMG7.jpg" alt="">
                        <div class="author">Prof. Mehnaz M sheikh</div>
                        <!-- <div class="author-company">Apple</div> -->
                    </div>
                </div>




            </div>
        </div>
    </div>

    <div id="news" class="container section">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-head">Recent News</h2>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="news-post">
                    <img src="img 1.jpg" alt="">
                    <h3><a href="">Teacher's Day</a></h3>
                    <div class="post-date">September 05, 2023</div>
                    <p>"Teachers plant the seeds of knowledge that grow forever."</p>
                    <!-- <a href="" class="readmore">Read More</a> -->
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="news-post">
                    <img src="img 2.jpg" alt="">
                    <h3><a href="">Farewell Day</a></h3>
                    <div class="post-date">February 24, 2024</div>
                    <p>"Keep pushing yourself to achieve greatness."</p>
                    <!-- <a href="" class="readmore">Read More</a> -->
                </div>
            </div>
            <div class="col-md-6  col-lg-3">
                <div class="news-post">
                    <img src="images/WOM.jpg" alt="">
                    <h3><a href="">Women's Day</a></h3>
                    <div class="post-date">March 08, 2024</div>
                    <p>"Women are the real architects of society."</p>
                    <!-- <a href="" class="readmore">Read More</a> -->
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="news-post">
                    <img src="images/Aura.jpg" alt="">
                    <h3><a href="">Aura</a></h3>
                    <div class="post-date">March 15, 2024</div>
                    <p>"A goal without a plan is just a wish."</p>
                    <!-- <a href="" class="readmore">Read More</a> -->
                </div>
            </div>
        </div>
    </div>

    <div id="footer-sidebar">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="footer-widget">
                        <h4>About Department</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro praesentium, doloremque,
                            aperiam recusandae rem aliquam.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, molestias.</p>
                    </div>
                </div>
                <!-- <div class="col-sm-6 col-md-4">
					<div class="footer-widget">
						<h4>Latest News</h4>
						<ul class="latest-news">
							<li><a href="">Lorem ipsum dolor sit amet, consectetur.</a></li>
							<li><a href="">Lorem ipsum dolor sit amet, consectetur.</a></li>
							<li><a href="">Lorem ipsum dolor sit amet, consectetur.</a></li>
							<li><a href="">Lorem ipsum dolor sit amet, consectetur.</a></li>
							<li><a href="">Lorem ipsum dolor sit amet, consectetur.</a></li>
						</ul>
					</div>
				</div> -->
                <div class="col-sm-6 col-md-4">
                    <div class="footer-widget">
                        <h4>Department Address</h4>
                        <address>
                            <b>KrushiJivanVikasPratishtan-Yenbodi,Reg.No F-294</b><br>
                            BALLARPUR INSTITUTE OF TECHNOLOGY, BALLARPUR-442701<br>
                            BTC-SCHOOL OF DIPLOMA IN ENGINEERING POLYTECHNIC(1543)<br>
                            <b>BUILDING NO. 3</b>
                        </address>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">copyright@2024 Department of Computer Engineering.</div>
                <div class="col-md-6">
                    <ul id="social-icons" class="float-md-right">
                        <li><a href="" class="fa fa-facebook-square"></a></li>
                        <li><a href="" class="fa fa-twitter-square"></a></li>
                        <li><a href="" class="fa fa-linkedin-square"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>

</html>